.div1 {
  width: 286px; 
  height: 982px; 
  left: 0px;
  top: 0px;
  position: absolute;
}

.div2 {
  width: 286px; 
  height: 1025px;
   left: 0px; 
   top: 0px;
  position: absolute; 
  background: white;
   box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25);
}


.div3{
  width: 142px; height: 398px; left: 72px; top: 137px; position: absolute;
}

.dashboard {
  left: 10px;
  top: 0px;
}

.elements{
  position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; text-transform: uppercase; word-wrap: break-word;

}

.courses{
  left: 25px; top: 76px;
}

.instructors{
  left: 0px; top: 222px; 
}

.batches{
  left: 27px; top: 152px; 
}

.students{
  left: 17px; top: 298px; 
}

.certificates{
  left: 2px; top: 374px; 
}


.div4 {
  width: 247px; height: 241px; left: 20px; top: 741px; position: absolute;
}

.div5{
  width: 131px; height: 131px; left: 58px; top: 0px; position: absolute; background: linear-gradient(180deg, #F27119 0%, #FBB743 100%); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30); border-radius: 9999px
}


img{
  width: 56px; height: 62px; left: 95px; top: 35px; position: absolute;
}

.profile{
  position:absolute;
  text-align: center;
  color: black;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.admin{
  width: 228px; height: 33px; left: 9px; top: 149px;  font-size: 20px; text-transform: uppercase;
}

.lorem-epsum{
  width: 116px; height: 18px; left: 65px; top: 179px;  font-size: 15px;
}

.view-profile{
  width: 116px; height: 18px; left: 0px; top: 223px;  font-size: 14px;  text-decoration: underline; 
}

.sign-out{
  width: 116px; height: 18px; left: 131px; top: 223px;   font-size: 14px;  text-decoration: underline; 
}

.div7{
  width: 286px; height: 97px; left: 0px; top: 0px; position: absolute; background: #19A5B2;
}

.shoppeal-tech{
  width: 175px; height: 25px; left: 56px; top: 34px; position: absolute; color: white; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word;
}